.App {
  text-align: center;
}

.shoeDisplay {
  margin-left: 5%;
  height: 50vh;
  margin-bottom: 25%;
}

#firstTitle {
  margin-top: -12%;
}

.firstTitles {
  font-size: 550%;
  margin-bottom: 0px;
  margin-top: -12%;
}

.shoePicturesSizeSecond {
  width: 40%;
}

.otherTitles {
  margin: 0.5%;
  font-size: 220%
}

body {
  color: white;
  background-color: black;
}

.shoePicturesSize {
  width: 40%;
  margin-left: 55%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
